---
import Contactform from "@/components/contactform.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { useTranslations } from "@/i18n/translations";

const t = useTranslations("fr");
---

<Layout title={t("contact.title")} lang="fr">
  <Container>
    <Sectionhead>
      <Fragment slot="title">{t("contact.title")}</Fragment>
      <Fragment slot="desc">{t("contact.desc")}</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">{t("contact.heading")}</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          {t("contact.text")}
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>Paris, France</span>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:contact@djstrappy.com"
              >contact@djstrappy.com</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform lang="fr" />
      </div>
    </div>
  </Container>
</Layout>
