---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <h2 class="text-center bg-gradient-to-r from-purple-500 to-cyan-500 bg-clip-text text-transparent font-medium">Listen on your favorite platforms</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">

    <Icon class="size-8 md:size-12 text-pink-500" name="simple-icons:spotify" />
    <Icon class="size-8 md:size-12 text-teal-500" name="simple-icons:soundcloud" />
    <Icon class="size-8 md:size-12 text-purple-500" name="simple-icons:applemusic" />
    <Icon class="size-8 md:size-16 text-cyan-500" name="simple-icons:youtube" />
    <Icon class="size-8 md:size-16 text-yellow-500" name="simple-icons:deezer" />
    <Icon class="size-8 md:size-12 text-gray-600" name="simple-icons:bandcamp" />

  </div>
</div>
