---
import {
  sizeClasses,
  styleVariantClasses,
  baseClasses,
  type Size,
  type StyleVariant,
} from "./shared-config";

interface Props {
  href: string;
  size?: Size;
  block?: boolean;
  style?: StyleVariant;
  class?: string;
  [x: string]: any;
}

const {
  href,
  block,
  size = "lg",
  style = "primary",
  class: className,
  ...rest
} = Astro.props;
---

<a
  href={href}
  {...rest}
  class:list={[
    baseClasses,
    block && "w-full",
    sizeClasses[size],
    styleVariantClasses[style],
    className,
  ]}
  ><slot />
</a>
