---
import { linkSizeClasses, linkStyleVariantClasses, baseClasses, type Size, type LinkStyle } from "./styles";

interface Props {
  href: string;
  size?: Size;
  block?: boolean;
  style?: LinkStyle;
  class?: string;
  [x: string]: any;
}

const {
  href,
  block,
  size = "lg",
  style = "primary",
  class: className,
  ...rest
} = Astro.props;
---

<a
  href={href}
  {...rest}
  class:list={[
    baseClasses,
    block && "w-full",
    linkSizeClasses[size],
    linkStyleVariantClasses[style],
    className,
  ]}
  ><slot />
</a>
